#blog_actu_content
{

  /* NavBar*/
  .navbar-default
  {
    background-color: grey;
  }

  .actu
  {
    margin-top: 50px;
  }
  .second_content
  {
    margin-top: 2%;
    text-align: left;
  }
  .third_content
  {
    padding-top: 3%;
    padding-bottom: 5%;
  }
  h4.subtitle1,.subtitle2
  {
    font-size: 2em;
    text-align: justify;
    font-style: italic;
    color: red;
  }


  /* The card */
  .card {
    position: relative;
    height: auto;

    /*
    width: 1500px;
    */
   /* margin: 200px auto;*/
    margin-top:200px;
    margin-bottom:200px;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  }

  /* Image on the left side */
  .thumbnail {
    float: left;
    position: relative;
    left: 30px;
    top: -80px;
    height: 360px;
    width: 540px;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    /*overflow: hidden;*/
  }


  img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /* Right side of the card */
  .right {
    margin-left: 590px;
    margin-right: 20px;
  }
  /*Title card*/
  .title-post
  {
    padding-top: 15px;
    font-size: 3em;
    color: #4B4B4B;
  }

  .author {
    background-color: #9ECAFF;
    height: 30px;
    width: 110px;
    border-radius: 20px;
  }

  .author > img {
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }

  h2 {
    padding-top: 8px;
    margin-right: 12px;
    text-align: right;
    font-size: 1.1em;
  }

  .separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
  }

  p {
    text-align: justify;
    padding-top: 10px;
    font-size: 1em;
    line-height: 150%;
    color: #4B4B4B;
  }

  /* DATE of release */
  h5 {
    position: absolute;
    left: 30px;
    bottom: -120px;
    font-size: 6rem;
    color: #C3C3C3;
  }

  h6 {
    position: absolute;
    left: 30px;
    bottom: -55px;
    font-size: 2rem;
    color: #C3C3C3;
  }

  /* Those futur buttons */
  ul {
    margin-left: 250px;
  }

  li {
    display: inline;
    list-style: none;
    padding-right: 40px;
    color: #7B7B7B;
  }

  @media screen and (max-width: 840px)
  {
    /* Right side of the card */
    .right {
      margin-left: 500px;
      margin-right: 20px;
    }
    .thumbnail {
      left: 30px;
      top: -10px;
      height: 260px;
      width: 440px;
    }
  }
  @media screen and (max-width: 676px)
  {
    /* Right side of the card */
    .right {
      margin-left: 20px;
      margin-right: 20px;
    }
    .thumbnail {
     display: none;
    }
    img.left {
    display: none;
    }
  }
}