/* line 1, ../sass/global.scss */
p {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

/* line 7, ../sass/global.scss */
h2, h3, h4, h5 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5em;
}
