{% extends "base.html.twig" %}
{% block body %}
	<div id="photo_content">
		
				<div class="grid">
					<figure class="effect-bubba">
						<img src="https://img.planete-starwars.com/_main/bb8.png" alt="img16"/>
						<figcaption>
							<h2>Fresh <span>Bubba</span></h2>
							<p>Bubba likes to appear out of thin air.</p>
							<a href="#">View more</a>
						</figcaption>
					</figure>
				</div>
				</div>
			</div>
{% endblock %}

